In [7]:
import pandas as pd

df = pd.read_csv('SMSSpamCollection', sep='\t',
                           names=["Status", "Message"])

In [8]:
df.head()

  Status                                            Message
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [9]:
len(df)

5572

In [10]:
len(df[df.Status=='spam'])

747

In [11]:
df.loc[df["Status"]=="ham","Status"]=1
df.loc[df["Status"]=="spam","Status"]=0

In [12]:
df.head()

  Status                                            Message
0      1  Go until jurong point, crazy.. Available only ...
1      1                      Ok lar... Joking wif u oni...
2      0  Free entry in 2 a wkly comp to win FA Cup fina...
3      1  U dun say so early hor... U c already then say...
4      1  Nah I don't think he goes to usf, he lives aro...

In [13]:
import re
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\HIMANSHU\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [14]:
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()
corpus=[]

In [15]:
for i in range (0,len(df)):
    review = re.sub('[^a-zA-Z]', ' ', df['Message'][i])   
    review = review.lower()
    review = review.split()
    review = [ps.stem(word) for word in review if not word in stopwords.words('english')]
    review = ' '.join(review)
    corpus.append(review)

In [16]:
for i in range(0,10):
    print(corpus[i])

go jurong point crazi avail bugi n great world la e buffet cine got amor wat
ok lar joke wif u oni
free entri wkli comp win fa cup final tkt st may text fa receiv entri question std txt rate c appli
u dun say earli hor u c alreadi say
nah think goe usf live around though
freemsg hey darl week word back like fun still tb ok xxx std chg send rcv
even brother like speak treat like aid patent
per request mell mell oru minnaminungint nurungu vettam set callertun caller press copi friend callertun
winner valu network custom select receivea prize reward claim call claim code kl valid hour
mobil month u r entitl updat latest colour mobil camera free call mobil updat co free

In [17]:
df_x=df["Message"]
df_y=df["Status"]

In [18]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df_x, df_y, test_size = 0.20, random_state = 0)

In [19]:
cv=TfidfVectorizer(min_df=1,stop_words='english')
x_traincv=cv.fit_transform(["Hi how are you doing Hi are you child?"])
x_traincv.toarray()

array([[0.40824829, 0.40824829, 0.81649658]])

In [20]:
cv.get_feature_names()

['child', 'doing', 'hi']

In [21]:
cv1=TfidfVectorizer(min_df=1,stop_words='english')
x_traincv=cv1.fit_transform(x_train)
a=x_traincv.toarray()

In [22]:
a

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [23]:
cv1.inverse_transform(a[0])

[array(['good', 'hourish', 'leave', 'movie', 'ok'], dtype='<U34')]

In [24]:
x_train.iloc[0]

"No I'm good for the movie, is it ok if I leave in an hourish?"

In [25]:
mnb=MultinomialNB()

NameError: name 'MultinomialNB' is not defined

In [ ]:
from sklearn.naive_bayes import MultinomialNB
mnb=MultinomialNB()

In [ ]:
y_train=y_train.astype('int')

In [ ]:
mnb.fit(x_traincv,y_train)

In [ ]:
x_testcv=cv1.transform(x_test)

In [ ]:
pred=mnb.predict(x_testcv)

In [ ]:
pred

In [37]:
import numpy as np
actual=np.array(y_test)

In [38]:
actual

array([1, 0, 1, ..., 1, 0, 1], dtype=object)

In [39]:
count=0
for i in range (len(pred)):
    if pred[i]==actual[i]:
        count=count+1;

In [40]:
count

1089

In [41]:
len(pred)

1115

In [42]:
acc=(count/len(pred))*100

In [43]:
acc

97.66816143497758